.body{
    background-image: url(./1792301.png);
    background-repeat: repeat-y;
}
.nav-link{
    color:white;
}
.navbar-brand{
    color:white;
}
.image{
    width:36%;
    position:relative;
    top:50px;
    left:60px;
}
.text{
    color:rgb(179, 76, 16);
    position:relative;
    right:700px;
    top:50px;
}
.nav-item{
    color:white;
}
.piano{
    position:relative;
    color:rgb(248, 114, 237);
    left:800px;
    top:100px
}
.text-2{
    position:relative;
    top:105px;
    left:820px;
    color:rgb(30, 179, 224);
}
.imagee{
    position:relative;
    width:23%;
    left:798px;
    top:90px;
}
.card{
   width:15%
}
.card{
   position:relative;
   bottom:750px;
   left:1300px
}
.text-text{
    
}